.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 300px;
  right: 300px;
  height: 50px;
  background-color: white;
  min-height: 50px;
  padding-right: 40px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 40px;
}

.searchBar form {
  display: flex;
  gap: 4px;
  align-items: center;
  width: 100%;
  max-width: 600px;
  overflow: hidden;
}
.inputWrapper {
  position: relative;
  width: 100%;
}
.searchBar input {
  display: inline-block;
  width: 100%;
  height: 40px;
  font: inherit;
  font-size: 20px;
  border: none;
  outline: none;
  padding-left: 40px;
  padding-right: 10px;
  border-radius: 3px;
  background-color: #272a2a;
  color: azure;
}
.searchBar input::placeholder {
  font: inherit;
  font-size: 18px;
}
.searchBar button {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 20px;
  color: #fff;
}

.searchBar button:hover {
  color: #8dcaf2;
}
