.loadMoreBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  border: 0;
  cursor: pointer;
  outline: none;
  font: inherit;
  font-size: 18px;
  border-radius: 3px;
  background-color: green;
  color: bisque;
  transition: background-color 0.3s ease;
}

.loadMoreBtn:hover {
  color: black;
}
.container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
